*{
    margin:0;
    padding:0;
}
html{
    @media screen and (min-width: 1000px) {
        font-size:14px;
        .margin-back{
            margin-top: 13px;
            background: #f9fafe;
        }
    }

    @media screen and (max-width: 1100px) {
        font-size:10px;
    }
}
.separator{
    height:15px;
    background-color: #d7dee8;
    width:100%;
}
.container{
    width:90%;
    margin:0 auto;

    // @media screen and (min-width: 1300px) {
    //    width:1140px;
    //  }

     @media screen and (min-width: 1150px) {
        width:1140px;
      }

      @media screen and (max-width: 1150px) {
        width:90%;
        margin:0 auto;
      }
      
}

body{
    min-height:100vh;
    background-color: #e4e5e6;
}
$color: blue;

$redColor: #ff4917;
$blueColor:#0066cc;

.v-main-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    &__block{
        padding:40px;
        width:100%;
        display: flex;
        flex-direction: column;
    }
}